body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    padding: 10px 120px 75px 120px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.logo {
    width: 75px;
    height: auto;
}

img {
    width: 50px;
    height: auto;
}

.h1right {
    display: flex;
    gap: 16px;
}

.maintexth {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtexth {
    font-size: 18px;
    color: #E5E7EB;
}

.maincontenth {
    display: flex;
    gap: 16px;
}

.headerimg {
    width: 280px;
}

button {
    background-color: #3882F6;
    padding: 8px 27px;
    border-radius: 10px;
    color: #E5E7EB;
    border-color: #E5E7EB;
    flex: none;
    border-width: 2px;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
    margin: 0px;
}

.bodyp {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.infoh1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.infoimg {
    width: 200px;
    height: 200px;
}

.imgdiv {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    text-align: start;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 220px 50px 220px;
    margin-top: 80px;
}

.quoter {
    text-align: end;
    font-weight: bold;
    font-style: normal;
}

.sub {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 80px 100px 80px 100px;
    padding: 40px 80px 40px 80px;
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 18px;
    color: #E5E7EB;
}